
<!--TestComponent : composant fils --->
<app-test #mouheb (prop3)="test($event)" [prop1]="title"></app-test>
<div>
  from parent : 
  {{mouheb.prop2}}
</div>
<br>
<!---One way databinding : interpolation : TS ->HTML -->
{{ title }}
<!---One way databinding: event binding -HTML->TS-->
<button (click)="f('a')">Save</button>

<input value={{title}}> <br>
<input value="title"> <br>

<!--- One way databinding: Property binding: TS -> HTML-->
<input [value]="title">
<div [style]="style1">Bonjour</div>

<!---2- définir le lien --->
<a [routerLink]="['home']">Residences</a>
<br>
<a routerLink="add">Add Apartment</a>
<!---3-Où charger la vue du composant correspondant au path actuel-->
<router-outlet></router-outlet>
